.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
forge-card {
  --forge-card-padding: 0;
  height: 100%;
}

.column-span-1 {
  grid-column: span 1;
}

.column-span-2 {
  grid-column: span 2;
}

.column-span-3 {
  grid-column: span 3;
}

.span-full {
  grid-column: 1/-1;
}

/* When the browser is at least 1024px or below */
@media screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr;

    & > * {
      grid-column: 1/-1;
    }
  }
}
